html, body {
    margin: 10% 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-family: 'Concert One', cursive;
    text-align: center;
}

button, #chorelist {
    font-family: 'Inter', sans-serif;
}


#inputfield, #addchore, #clearchores, li{
    border: none;
    border-radius: 5px;
    padding: 10px;
}

#inputfield {
    color: #A4A4A4;
    background-color: #EEEE;
    text-align: center;
    width: 63%;
}
#addchore { 
    background-color: #FFCC68;
}
#clearchores {
    background-color: #FF9548;

}
main {
    margin: 0 auto;
    max-width: 300px;
}

li {
    background-color: #FBDF7C;
    list-style-type: none;
    text-align: center;
    margin: 10px;
}

#chorelist {
    margin-top: 0;
    padding-left: 0;
    font-size: 0.75em;
}

@media (min-width: 780px) {
    h1 {
        font-size: 4em;
    }

    main {
        max-width: 600px;
    }
    #chorelist {
        font-size: 1.5em;
    }
    #inputfield, #addchore, #clearchores {
        font-size: 1.5em
    }
    #inputfield {
        width: 77%
    }
}