html, body {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-family: 'Concert One', cursive;
    text-align: center;
}

button {
    font-family: 'Inter', sans-serif;
}


#inputfield, #addchore, #clearchores, li{
    border: none;
    border-radius: 5px;
    padding: 10px;
}

#inputfield {
    color: #A4A4A4;
    background-color: #EEEE;
    text-align: center;
}
#addchore { 
    background-color: #FFCC68;
}
#clearchores {
    background-color: #FF9548;
    margin-bottom: 0px;

}
main {
    margin: 0 auto;
    max-width: 300px;
}
li {
    background-color: #FBDF7C;
    list-style: none;
    text-align: center;
    margin: 10px;

}